@import "../../../../styles/variables";

$product-border-color: #e9e9e9;
$category-color: #a6a9af;
$price-color: #282d3b;
$name-color: #33363e;
$product-padding: 20px;

.product {
  overflow: hidden;
  margin-bottom: 30px;
  border: 1px solid $product-border-color;
  transition: all 0.3s;
  text-decoration: none;
  &:hover {
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.15);
    .product-header {
      &::before {
        background: rgba($blue, 0.7);
      }
    }
  }
  .product-header {
    position: relative;
    padding: $product-padding;
    height: 180px;
    font-size: #{13px/$font-size-px}rem;
    font-weight: 500;
    font-family: Raleway, sans-serif;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    &::before {
      position: absolute;
      content: '';
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      transition: all 0.1s;
      background: linear-gradient(
          to bottom,
          rgba(0, 0, 0, 0) 0%,
          rgba(0, 0, 0, 0) 30%,
          rgba(0, 0, 0, 0.7) 100%
      );
    }
    .city {
      position: relative;
      color: $white;
    }

  }
  .product-body {
    padding: $product-padding;
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    color: $name-color;

  }

  .product-footer {
    padding: $product-padding;
    .category {
      font-family: Raleway, sans-serif;
      font-size: #{13px/$font-size-px}rem;
      font-weight: 500;
      color: $category-color;
    }
    .price {
      font-weight: 500;
      font-family: Montserrat, sans-serif;
      color: $price-color;
    }
  }
}
