<a [routerLink]="[product.id]" class="d-flex flex-column product">
  <div class="d-flex align-items-end product-header" [style.backgroundImage]="product.image | bgImage">
    <span class="city">{{product.cityName}}</span>
  </div>
  <div class="product-body">
    {{product.name}}
  </div>
  <div class="d-flex justify-content-between align-items-center product-footer">
    <span class="category">{{product.categoryName}}</span>
    <span class="price">{{product.price | currency:'USD'}}</span>
  </div>
</a>
